* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #f0e9e9;
}

header nav {
    background-color: #000;
    padding: 15px;
}

.container {
    width: 90vw;
    margin: 0px auto;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo {
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
}

nav .logo:hover {
    color: #dedede;
}

nav .menu, ul, li a {
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
}


i {
    margin-left: 15px;
}
nav .logo, ul, li, a:hover {
    color: #dedede;
}

header .hero {
    background-image: url(../src/img/imagem.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  
header .hero #formSearch {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .hero #formSearch input {
    width: 70vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    text-align: center;

}

main {
    margin: 20px 0px;

}

main .container h3 {
    font-size: 2rem;
    margin-bottom: 20px;

}

main .container .pratos {
    display: flex;
    flex-direction: column;
}

main .container .pratos .prato {
    background-color: #fff;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: 0.3s ease;
}

main .container .pratos .prato:hover {
    background-color: #dedede;
}

.prato img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.prato h4 {
    padding: 0px 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.prato p {
    padding: 0px 20px;
    font-size: 1rem;
}

.prato button {
    width: 50%;
    margin: 20px auto;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.prato button:hover
{
    background-color: rgb(24, 139, 14);
}

footer {
    padding: 20px 0px;

}
footer .container p {
    text-align: center;
}

/* PAGINA SOBRE MOBILE */

.hero-sobre {
    background-color: #222;
    color: #fff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Quando ficar maior que 600px, irá aplicar estilo WEB */
@media(min-width: 720px) {
    main .container .pratos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    main .container .pratos .prato{
        width: 300px;
    }
    .modal {
        position: fixed;
        width: 70%;
        left: 15%;
        top: 40%;
        background: #fff;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }
    .btn {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        color: #000;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .btn:hover {
        opacity: 0.8;
    }
    
    .btn-success {
        background-color: #06c706;
        transition: 0.3s ease;
    }
    
    /* .btn-success:hover {
        background-color: #189418;
        color: #ffffff;
    } */
    
    .btn-danger {
        background-color: #ff0000ea;
        transition: 0.3s ease;
    }
    
    /* .btn-danger:hover {
        background-color: #bb0707ea;
        color: #ffffff;
    
    } */
    
}


/* MODAL */

.modal {
    position: fixed;
    width: 90%;
    left: 5%;
    top: 10%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* FORM PRODUCT */

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

.form-control {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #fff;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn-success {
    background-color: #06c706;
    transition: 0.3s ease;
}

/* .btn-success:hover {
    background-color: #189418;
    color: #ffffff;
} */

.btn-danger {
    background-color: #ff0000ea;
    transition: 0.3s ease;
}

/* .btn-danger:hover {
    background-color: #bb0707ea;
    color: #ffffff;

} */


/* UTILS */
.hide {
    display: none;
}
